[submodule "reverse-string"]
	path = reverse-string
	url = https://github.com/RezaBani/reverse-string
[submodule "gigasecond"]
	path = gigasecond
	url = https://github.com/RezaBani/gigasecond
[submodule "clock"]
	path = clock
	url = https://github.com/RezaBani/clock
[submodule "anagram"]
	path = anagram
	url = https://github.com/RezaBani/anagram
[submodule "space-age"]
	path = space-age
	url = https://github.com/RezaBani/space-age
[submodule "sublist"]
	path = sublist
	url = https://github.com/RezaBani/sublist
