[submodule "reverse-string"]
	path = reverse-string
	url = https://github.com/RezaBani/reverse-string
[submodule "gigasecond"]
	path = gigasecond
	url = https://github.com/RezaBani/gigasecond
[submodule "clock"]
	path = clock
	url = https://github.com/RezaBani/clock
[submodule "anagram"]
	path = anagram
	url = https://github.com/RezaBani/anagram
[submodule "space-age"]
	path = space-age
	url = https://github.com/RezaBani/space-age
[submodule "sublist"]
	path = sublist
	url = https://github.com/RezaBani/sublist
[submodule "minesweeper"]
	path = minesweeper
	url = https://github.com/RezaBani/minesweeper
[submodule "luhn"]
	path = luhn
	url = https://github.com/RezaBani/luhn
[submodule "armstrong-numbers"]
	path = armstrong-numbers
	url = https://github.com/RezaBani/armstrong-numbers
[submodule "bottle-song"]
	path = bottle-song
	url = https://github.com/RezaBani/bottle-song
[submodule "difference-of-squares"]
	path = difference-of-squares
	url = https://github.com/RezaBani/difference-of-squares
[submodule "grains"]
	path = grains
	url = https://github.com/RezaBani/grains
[submodule "leap"]
	path = leap
	url = https://github.com/RezaBani/leap
[submodule "nth-prime"]
	path = nth-prime
	url = https://github.com/RezaBani/nth-prime
[submodule "prime-factors"]
	path = prime-factors
	url = https://github.com/RezaBani/prime-factors
[submodule "proverb"]
	path = proverb
	url = https://github.com/RezaBani/proverb
